* {
    justify-content: space-around;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 80%

}
.create {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-top: 40px;
    margin-left: 100px;
    
}
.invite {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    
    
}
.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;


}
.sub {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;


}
/* @media screen and (min-width: 576px) {
    body { width: 100%};
  } */
  
  .download {
    position: relative;
    margin-top: 70px;
    margin-left: 220px;
    width: 90%;


  }
  .footer {
      position: relative;
      margin-top: 60px;

  }
  .feature {
    margin-left: 145px;
    width: 93%;
    margin-top: 60px;
  }
  .banner {
    margin-left: 300px;
}
.account {
   
    margin-top: 40px;
}
.header {
    margin-bottom: 70px;
    margin-left: 400px;

}

image {
    
    height: auto;
    max-width: 100%;
    
}
@media only screen and (min-width: 400px) {
    image {
      width: 50%;
    }
  }

